{% load compress %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <!-- Global styles for h1 and h2 tags -->
    <style>
        h1 { @apply text-4xl font-bold my-4; }
        h2 { @apply text-3xl font-semibold my-3 text-orange-500; }
    </style>

</head>

<body>
    <header class="bg-white shadow-md p-4">
        <nav class="flex space-x-4">
            <a href="{% url 'home' %}" class="text-grey-700 hover:text-green-500">Home</a>
            <a href="{% url 'about' %}" class="text-grey-700 hover:text-green-500">About</a>
        </nav>
    </header>
    <main class="p-6">

        {% block content %}
        <!-- child template content goes here -->
        {% endblock content %}
    </main>
    <footer class="bg-grey-100 text-center p-4 text-gray-600">
        &copy; 2024 Snacks by Lana
    </footer>
</body>

</html>